In [2]:
import sys, platform
print(sys.executable)
print(platform.python_version())

/home/churre/ING3/Big_data/projet_big_data_cytech_25/ex04_dashboard/.venv/bin/python
3.12.3

In [1]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    port=5432,
    dbname="bigdata_dwh",
    user="bigdata",
    password="bigdata123"
)
df = pd.read_sql("SELECT * FROM fact_trip LIMIT 1000", conn)
conn.close()

/tmp/ipykernel_74785/3111882284.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM fact_trip LIMIT 1000", conn)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://bigdata:bigdata123@localhost:5432/bigdata_dwh")

df = pd.read_sql("SELECT * FROM fact_trip LIMIT 1000", engine)
df

,trip_id,vendor_id,ratecode_id,payment_type_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,pickup_date_id,dropoff_date_id,pickup_datetime,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,airport_fee,cbd_congestion_fee,total_amount
0,1,2,1,1,N,237,186,20250529,20250529,2025-05-29 19:38:47,...,28.2,2.5,0.5,7.09,0.00,1.0,2.5,0.00,0.75,42.54
1,5,2,1,1,N,236,263,20250529,20250529,2025-05-29 19:40:42,...,7.2,2.5,0.5,2.06,0.00,1.0,2.5,0.00,0.00,15.76
2,8,2,1,1,N,237,263,20250529,20250529,2025-05-29 19:48:24,...,6.5,2.5,0.5,3.90,0.00,1.0,2.5,0.00,0.00,16.90
3,12,2,1,1,N,263,236,20250529,20250529,2025-05-29 19:07:55,...,7.9,2.5,0.5,0.00,0.00,1.0,2.5,0.00,0.00,14.40
4,13,2,1,1,N,236,43,20250529,20250529,2025-05-29 19:16:36,...,14.2,2.5,0.5,5.36,0.00,1.0,2.5,0.00,0.75,26.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1014,2,1,1,N,236,141,20250519,20250519,2025-05-19 15:14:01,...,12.1,0.0,0.5,2.00,0.00,1.0,2.5,0.00,0.00,18.10
996,1015,2,1,1,N,236,161,20250519,20250519,2025-05-19 15:51:21,...,20.5,0.0,0.5,6.31,0.00,1.0,2.5,0.00,0.75,31.56
997,1016,1,1,1,N,138,161,20250519,20250519,2025-05-19 15:41:28,...,48.5,10.0,0.5,12.00,0.00,1.0,2.5,1.75,0.75,72.00
998,1017,2,1,1,N,70,246,20250519,20250519,2025-05-19 15:16:48,...,49.2,5.0,0.5,13.53,6.94,1.0,2.5,1.75,0.75,81.17
999,1018,2,1,2,N,170,224,20250519,20250519,2025-05-19 15:11:51,...,12.8,0.0,0.5,0.00,0.00,1.0,2.5,0.00,0.75,17.55